.page-header
  %h1
    = @item.title
    %small= "$#{@item.price}"
    .pull-right
      -if can? :manage, :cart
        - unless current_user.watcheditems.find_by_id @item.id
          %button.btn.btn-default
            = link_to "Follow item & Alert me", watch_item_path(id: @item), method: :post
        - else
          %buttone.btn.btn-default
            = link_to "Unfollow", unwatch_item_path(id: @item), method: :post
        %button.btn.btn-default
          =link_to "Add to Cart", cart_add_path(id: @item)
      -if can? :manage, :items
        %button.btn.btn-default
          =link_to "Edit", edit_item_path
.row
  .col-md-4
    = image_tag @item.avatar.url(:medium), :class => "img-rounded img-responsive"
  .col-md-8
    %p= simple_format(@item.description)

    %br
    %br
